{% extends 'baseTemplate.html.twig' %}

{% block body %}

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Artículo:</th>
        <th>Acción:</th>
      </tr>
    </thead>
    <tbody>
      {% for articulo in articulos %}
        <tr id-art="{{articulo.id}}">
          <td>{{ articulo.nombre }}</td>
          <td>
            <a href="base/delete/{{articulo.id}}" class="btn btn-danger" role="button">Borrar</a>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <form action="/base/insert/" id="formArticulo">
          <td>
            <input type="text" class="form-control" placeholder="Ingrese in artículo" id="nombreArticulo">
          </td>
          <td>
            <button type="submit" class="btn btn-success">Agregar</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>

{% endblock %}
